<div id='paperpage'>
	<h1>Thank you!</h1>

	<p>You have helped feed and water this Storrest as much as possible right now, and now it needs time to grow. Check back later to see if more needs to be done!</p>
</div>