<div id='paperpage'>
	<h2>What is Storrest?</h2>

	<p>Storrest is a way to collaboratively write stories.  Somebody plants the seed for a new story (we call this person an arbiter), and they share it with the world.  Then a few contributors write the next line or paragraph to the story.  After enough ideas have been collected, contributors vote on which idea is best.</p>

	<p>The arbiter sees those ratings, and decides which part to keep.  And that’s when things get interesting.  Usually, the arbiter will just choose the line or paragraph with the top rating.  But if there are two lines that are too good to pass up, the arbiter can branch the story in two directions.  Then the whole process with contributions starts over.</p>

	<p>By the end of the story, if you visualize all the different contributions, the story looks like a tree.  You can see the different ways the story could have gone.  And you’ve grown a Storrest!</p>

</div>