
<div id='paperpage'>
	<h1>Contribution#write</h1>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
	<p>Find me in app/views/contribution/write.html.erb</p>
<!-- 	<svg height="210" width="500" class="shadow" id="paper1">
	  <polygon points="200,10 250,190 160,210" style="fill:white" />
	</svg> -->

</div>
