<div id='paperpage'>
<p>
Once upon a time, you were reading a story. This was a proper sort of story, with knights and dragons and happy endings. But as you slowly shut the back cover, something tugged at the back of your mind. You see, a story is much like a well-worn road, guiding you through the events like a merry path through a medow. But at the end, it leaves you haunted by the "what-ifs" and the "could-have-beens". If one small detail were changed, everything would have been different, and you ache to explore this untouched underbrush at the edge of our story-road.
</p>

<p>
But fear not! For you have stumbled upon a place to fulfill that very desire! Here, stories are not roads among medows. They are trees, with gnarled branches twisting every direction, and leaves to mark where they still may grow. Here, we do not tell stories...
</p>

<h1 style="text-align:center;">
We tell Storrests.
</h1>

<p>
And you, dear readers, are the gardeners. You are the ones who will plant the seeds, give life to the leaves, and trim the branches. With the help of your friends, you can create something special: a work of art that does not belong to any one of you, but is rather a creation of many. So quick! Click <a href="/login">here</a>! The storrest is waiting...
</p>

<div class="text-separator"></div>

<h3>Want to help grow a Storrest? Try these!</h3>
<% @stories.each do |story| %>
	<p><a href="/contribution/contribute/<%= story.id %>"><%= story.title %></a></p>
<% end %>
</div>