<div id='paperpage'>
	<div id='innerpage'>
		<h1>Share Your Story!</h1>

		<p>Share this URL so your friends can contribute to your story</p>
		<h3><a href="/contribution/contribute/<%= @story.id %>"><%= request.original_url.partition('arbiter/share').first %>contribution/contribute/<%= @story.id %></a></h3>
	</div>
</div>
