
// Place all the styles related to the contribution controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.writesubmit {
	float: right;
}

.writetxtarea {
	width: 482px;
	height: 120px;
}

.story-title {
	margin-top: -25px;
}

.postit {
	margin-top: 20px;
	-webkit-box-shadow: 3px 3px 12px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 12px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 12px 0px rgba(50, 50, 50, 0.75);
}

#branch1ratings {
	float: left;
	margin-left: -10px;
}

#branch2ratings {
	float: right;
	margin-right: 0px;
}

.writesubmit2
{
	margin-top: 10px;
margin-right: 10px;
}

#branch1 {
	float: left;
	margin-left: -35px;
	width: 280px;
	height: 280px;
	background: #fefcea; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}

#branch2 {
	float: right;
	margin-right: -35px;
	width: 280px;
	height: 280px;

	background: #cdeb8e; /* Old browsers */
	background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
}


