// Place all the styles related to the contribution controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#paperpage {
	background-color: white;
	width: 500px;
 	margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    z-index: 23;
    -webkit-box-shadow: 14px 15px 29px -6px rgba(0,0,0,0.66);
-moz-box-shadow: 14px 15px 29px -6px rgba(0,0,0,0.66);
box-shadow: 14px 15px 29px -6px rgba(0,0,0,0.66);
}

#paper1 {
	position: absolute;
	left: 300px;
	top: 0px;
	z-index: 0;

}

.shadow {
    -webkit-filter: drop-shadow( 2px 5px 5px #000 );
    //        filter: drop-shadow( 3px 3px 3px #000 ); /* Same syntax as box-shadow */
}