<!DOCTYPE html>
<html>
<head>
  <title>Storrest</title>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Montserrat+Subrayada:700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <!-- http://stackoverflow.com/questions/8465411/how-to-assign-different-stylesheets-in-a-rails-project -->
</head>
<body style="margin:0;padding:0">
  <div id='maincontainer'>
    <a href="/">
    <div id='hblock'>
    	<h1 id='htitle'>Storrest</h1>
    </div>
    </a>
    <div id='mainbody'>
      <div class="navbar">
        <table>
          <tr><td><a href="/contribution/what_is_storrest">What is Storrest?</a></td></tr>
          <% if signed_in? %>
          <tr><td><a href="/arbiter/new_story">New Story</a></td></tr>
          <tr><td><a href="/arbiter/owned">Owned Stories</a></td></tr>
          <tr><td><a href="/logout">Logout</a></td></tr>
          <% else %>
          <tr><td><a href="/login">Storrest Arbiter Login</a></td></tr>
          <% end %>
        </table>
      </div>
      <%= yield %>
    </div>
  </div>

</body>
</html>
